//
// Main View Styles
//

// ----- Home Page
.home.page {
    .hero.section {
        overflow: hidden;
        position: relative;
            
        &:after {
            content: '';
            background-color: rgba($color-dark, 0.4);
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: 0;
        }

        &.condensed {
            height: $size-medium * 10;
            padding: 0;
        }

        .title {
            color: $color-light;
            margin-bottom: 0;
            position: relative;
            z-index: 1;
        }

        img {
            object-fit: cover;
            object-position: center center;
            position: absolute;
            width: 100%;
            z-index: -1;
        }
    }
}

// ----- Job Filter
.job.filter {
    @extend %flex;
    @extend %justify-center;
    
    .item {
        margin-right: $size-medium;

        &:last-child {
            margin-right: 0;
        }
    }
}