/**
 *  Job Card Variation
 *	Author: Scott Thrall
 *	Created June 2022
 *	Last Revision: 2022-06-06
 *
 *	Change Log
 *	2022-06-06:
 *		* created styling for job cards
 */

.job.cards {
    display: block;
    margin-top: $size-huge;
}

.job.card {
    padding: $size-medium;

    .header {
        margin-bottom: $size-medium;
    }
}