<template>
  <div class="home page">
    <div class="condensed hero section">
      <img src="../assets/images/home-hero.jpg"/>
      <h1 class="title">Job Board</h1>
    </div>
    <div class="section">
      <JobArchive/>
    </div>
  </div>
</template>

<script>
import JobArchive from '../components/JobArchive.vue'

export default {
  name: 'HomeView',
  components: {
    JobArchive
  }
}
</script>
