<template>
    <div class="job filter">
        <button class="item front-end">Front End Developer</button>
        <button class="item web-dev">Web Developer</button>
        <button class="item front-engineer">Front End Engineer</button>
    </div>
    <div class="job cards">
        <div class="job card" v-for="job in this.jobs" :key="job.guid">
            <JobCard :job="job"/>
        </div>
    </div>
</template>

<script>
import JobCard from './JobCard.vue'

export default {
    data() {
        return {
            rssUrl: 'https://rss.indeed.com/rss?q=front+end+developer',
            feed: '',
            jobs: []
        }
    },
    components: {
        JobCard
    },
    created() {
        fetch(
            `https://api.allorigins.win/get?url=${this.rssUrl}`)
            .then((response) => response.json())
            .then((data) => {
                this.parseXML(data.contents)
            })
            .catch((err) => console.log(err.message))
    },
    methods: {
        parseXML(contents) {
            let feed = new window.DOMParser().parseFromString(contents, "text/xml")
            let items = feed.getElementsByTagName('item')

            for (let i = 0; i < items.length; i++) {
                let job = {}
                job.guid = items[i].querySelector('guid').innerHTML
                job.title = items[i].querySelector('title').innerHTML
                job.link = items[i].querySelector('link').innerHTML
                job.source = items[i].querySelector('source').innerHTML
                job.published = items[i].querySelector('pubDate').innerHTML
                job.description = items[i].querySelector('description').innerHTML

                this.jobs.push(job)
            }
        }
    }
}
</script>

<style>

</style>