<template>
  <div class="header">
    <h3 class="title">{{ job.title }}</h3>
  </div>
  <div class="description">
    <p>{{ job.description }}</p>
    <a class="small primary button" :href="job.link">View Job on Indeed</a>
  </div>
</template>

<script>
export default {
  props: [ 'job' ]
}
</script>

<style>

</style>