<template>
  <header>
    <div class="logo">
      <img alt="Vue logo" src="./assets/logo.png">
    </div>
    <nav>
      <router-link to="/">Home</router-link>
      <router-link to="/about">About</router-link>
    </nav>
  </header>
  <router-view/>
</template>

<style lang="scss">
</style>
